* {
  box-sizing: border-box;
}
body {
  background-color: #f0f0f0;
}
ul,
li {
  margin: 0;
  padding: 0;
}
.container {
  background-color: #fff;
  width: 720px;
  height: 540px;
  margin: 80px auto;
  font-family: "Karla", sans-serif;
  font-size: 16px;
  border-radius: 5px;
}
.header {
  padding: 20px 20px;
  height: 240px;
}
.header h2 {
  color: hsl(179, 62%, 43%);
  font-weight: 700;
}
.header h3 {
  color: hsl(71, 73%, 54%);
  font-weight: 400;
}
.header p {
  color: #bcc0ca;
  line-height: 2;
}
#sec1 {
  background-color: hsl(179, 62%, 43%);
  width: 50%;
  float: left;
  color: #fff;
  height: 300px;
  padding: 30px 40px;
  margin-bottom: 40px;
}

#sec1 h3 {
  font-weight: normal;
  color: rgb(87, 223, 220);
}
.dollar {
  font-size: 30px;
  color: #fff;
}
#sec2 {
  background-color: #4abebd;
  width: 50%;
  float: right;
  color: #ddd;
  height: 300px;
  padding: 30px 40px;
  margin-bottom: 40px;
}
#sec2 ul li {
  list-style-type: none;
  padding-bottom: 5px;
  color: #eeeeee;
  font-size: 14px;
}
#signup {
  background-color: hsl(71, 73%, 54%);
  width: 260px;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  margin: 0 auto;
  margin-top: 35px;
}
.attribution {
  font-size: 11px;
  text-align: center;
  margin: 40px auto;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
@media screen and (max-width: 700px) and (min-width: 300px) {
  .container {
    width: 280px;
    height: auto;
    padding: 20px 20px;
    font-size: 12px;
  }
  .header {
    width: 100%;
    padding: 10px 10px;
    font-size: 12px;
  }
  #sec1 {
    width: 100%;
  }
  #sec2 {
    width: 100%;
  }
  #signup {
    width: 100%;
  }
  .attribution {
    font-size: 8px;
  }
}
